#body {
  background: lightgray;
}
ul {
    font-family: aleo;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


img{
  height: auto;
  width: auto;
}

/************** actual site content below *********/

.homeSection {
  height: 30rem;
  background: white;
  border: 1px solid black;
}
